* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body { 
    font-family: 'Poppins', sans-serif; 
    background-color: snow; 
    color: #4a3728; 
    line-height: 1.6; 
    overflow-x: hidden;
}
nav { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 5px 8%; 
    background: #fff; 
    margin: 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05); 
    position:relative; 
    top: 0; 
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 0;
}

.logo-navbar {
  width: 120px;   /* smaller size */
  height: auto;

}
.logo-footer {
  width: 180px;  /* larger size */
  height: auto;
}
nav ul { 
    display: flex; 
    list-style: none; 
    margin: 0;
    padding: 0;
}

nav ul li { 
    margin-left: 30px; 
}

nav ul li a { 
    text-decoration: none; 
    color: #4a3728; 
    font-weight: 600; 
    font-size: 0.9rem; 
    text-transform: uppercase; 
    transition: 0.3s;
}

nav ul li a:hover {
    color: #6F4E37;
}

.hero { 
    height: 80vh; 
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                url('https://img.freepik.com/free-vector/restaurant-mural-wallpaper_52683-47493.jpg?semt=ais_hybrid&w=740&q=80');
    background-size:cover; 
    background-position: center;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    color: white;
}

.hero h1 { 
    font-family: 'Playfair Display', serif; 
    font-size: clamp(2.5rem, 8vw, 4rem); 
}
.hero h2 { 
    font-family: 'Playfair Display', serif; 
    font-size: clamp(1.05rem, 4vw, 2rem); 
}

.btn { 
    background:#6F4E37 ; 
    color: #fff; 
    padding: 14px 35px; 
    text-decoration: none; 
    border-radius: 4px; 
    display: inline-block; 
    margin-top: 20px; 
    border: none; 
    cursor: pointer; 
    transition: 0.3s; 
}

.btn:hover { 
    background: #563a2a; 
    transform: translateY(-2px);
}

.gallery { 
    padding: 80px 8%; 
    text-align: center; 
}

.gallery h2 { 
    font-family: 'Playfair Display', serif; 
    font-size: 2.5rem; 
    margin-bottom: 40px; 
}

.grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 50px; 
}

.img-card img { 
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 8px; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1); 
}

.mood-finder { 
    height:min-content;
    padding: 110px; 
    background-size:contain;
    display:block;  
    align-items: center;
    background-position: center;
}

.form-container { 
    max-width: 500px; 
    margin: 0 auto; 
    background: #fff; 
    padding: 40px; 
    border-radius: 20px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.05); 
}

.form-group { 
    margin-bottom: 20px; 
}

label { 
    display: block; 
    margin-bottom: 8px; 
    font-weight: 600; 
}

select { 
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ddd; 
    background: white;
    border-radius: 4px;
}

.radio-group { 
    display: flex; 
    gap: 20px; 
    padding: 10px 0;
}

.result-box { 
    margin-top: 25px; 
    padding: 20px; 
    border-left: 4px solid #6F4E37; 
    background: #fff8f4; 
    display: none; 
    font-style: italic;
    border-radius: 0 8px 8px 0;
}

.result-box.active { 
    display: block; 
    animation: fadeIn 0.5s ease; 
}

.menu-container { 
    padding: 60px 8%; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.menu-header { 
    font-family: 'Playfair Display', serif; 
    font-size: 3.5rem; 
    text-align: center; 
    margin-bottom: 40px; 
}

.cat-title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin: 40px 0 20px;
    color: #3c2910;
    border-bottom: 2px solid #3c2910;
    display: inline-block;
}

.menu-visual-grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
    margin-bottom: 20px;
}

.menu-card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    transition: 0.9s;
}

.menu-card:hover {
    transform: translateY(-12px);
}

.menu-card img {
    width: 90%;
    height: 185px;
    object-fit:cover;
    max-width:100%;
}

.card-info {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.05rem;
}

.card-info span:last-child {
    color: #6F4E37;
}

.main-footer {
    background-color:white; 
    color: rgb(83, 33, 27);
    padding: 60px 8% 30px;
    font-size: 0.9rem;
    line-height: 1.8;
    padding-left: 0%;
    padding-bottom: 0%;
}

.footer-top {
    display: grid;
    grid-template-columns: 1.2fr 1fr 2fr 1.8fr; 
    gap: 40px;
}

.footer-col h2.footer-brand {
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.footer-col p { margin-bottom: 0%; }
.footer-col a { color:  rgb(83, 33, 27); text-decoration: none; }
.footer-col a:hover { text-decoration: underline; color:  rgb(83, 33, 27); }

.footer-divider {
 width: 120%; 
    max-width: 8000px; 
    height:auto;
    margin-bottom: 0px ;
}




